/*------------------------------------*\
    #PX-LIST-UI
\*------------------------------------*/

/**
 * A simple, keyline-delimited blocky list object for Predix Experience
 */

@import "inuit-defaults/settings.defaults";
@import "inuit-functions/tools.functions";
@import "inuit-list-ui/objects.list-ui";

$inuit-list-ui-text-color   : inherit !default;

@if import-once('objects.list-ui') {

  @if ($inuit-list-ui-border-width > 0) {
  
    .list-ui > li, .list-ui__item {
      &:last-child {
        border-bottom-width: 0;
      }
    }

  }
  
  .list-ui {
    color: $inuit-list-ui-text-color;
  }
  
  .list-ui-ml {
    margin-left: -$inuit-base-spacing-unit;
  }
  
  .list-ui-pl {
    padding-left: $inuit-base-spacing-unit;
  }

}