@import "lib/inuit-defaults/settings.defaults";
@import "lib/inuit-functions/tools.functions";
@import "lib/inuit-list-ui/objects.list-ui";

@if import-once('objects.list-ui') {

  @if ($inuit-list-ui-border-width > 0) {
  
    .list-ui > li, .list-ui__item {
      &:last-child {
        border-bottom-width: 0;
      }
    }

  }
  
  .list-ui-ml {
    margin-left: -$inuit-base-spacing-unit;
  }
  
  .list-ui-pl {
    padding-left: $inuit-base-spacing-unit;
  }

}